body{
    text-align:center;
    background-color:grey;
}
.btn{
    height:200px;
    width:200px;
    border-radius:23px;
    border:8px solid black;
    margin:15px;
}
.aqua{
    background-color:aqua;
}
.blueviolet{
    background-color:blueviolet;
}
.pink{
    background-color:pink;
}
.greenyellow{
    background-color:greenyellow;
}
.btn-container{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}
.gameflash{
    background-color:white;
}
.userflash{
    background-color:bisque;
}